
/* This line is to make sure that there's no margins and the width is at max */
body,html{
  width 100%;
  height:100%;
}

/* Make the background of the side purple */
body{
  background-color: #FBD091;
}

/* Make the text appear in the middle of the screen and also black */
h1,
h2,
p {
  color: black;
  text-align: center;
}

/* This is done so that there's padding around the h1 element */
h1 {
  text-align: center;
  padding-top:12px;
}

h1 span {
  padding:10px;
  margin-top:15px;
  border: 5px solid black;
  border-radius: 10px;
  background-color:#AB2424;
}

/* This is used so that images can be set to the middle of the screen as well */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
